---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{% for page in collections.all %}{% set p = page.data %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
{% if p.alt_lang_url %}{% set alt = p.alt_lang_url %}{% if '#' not in alt and alt[alt.length - 1] != '/' %}{% set alt = alt + '/' %}{% endif %}{% set plang = p.lang | default('en') %}{% if plang.split('-')[0] == 'zh' %}
    <xhtml:link rel="alternate" hreflang="zh-Hant" href="{{ site.url }}{{ page.url }}"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}{{ alt }}"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ alt }}"/>
{% else %}
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}{{ page.url }}"/>
    <xhtml:link rel="alternate" hreflang="zh-Hant" href="{{ site.url }}{{ alt }}"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url }}"/>
{% endif %}{% endif %}
    <lastmod>{{ page.date.toISOString() }}</lastmod>
  </url>
{% endfor %}
</urlset>
