---
import { lang2 } from "../lib/site";
const zh = lang2(Astro.props.lang) === "zh";
const href = zh ? "/tw/" : "/";
---
<a href={href} title={zh ? "首頁" : "Home"}><img class="oxford-logo" width="100" height="100" src="/img/oxford-logo.svg" alt={zh ? "牛津大學校徽" : "University of Oxford Logo"} /></a>
<a href={href} title={zh ? "關懷六力首頁" : "Civic AI Home"}><img class="oxford-logo" width="246" height="100" src="/img/afp-logo.svg" alt={zh ? "加速哲人徽章" : "Accelerator Fellowship Programme Logo"} /></a>
